<ul class="pagination">
  <li><a routerLink="{{x}}" (click)="dec()">«</a></li>
  <li><a routerLink="1" (click)="state()">1</a></li>
  <li><a routerLink="2" (click)="state()">2</a></li>
  <li><a routerLink="3" (click)="state()">3</a></li>
  <li><a routerLink="4" (click)="state()">4</a></li>
  <li><a routerLink="5" (click)="state()">5</a></li>
  <li><a routerLink="6" (click)="state()">6</a></li>
  <li><a routerLink="7" (click)="state()">7</a></li>
  <li><a routerLink="{{x}}" (click)="inc()">»</a></li>
</ul>
